body {
  font-family: "Red Hat Display", sans-serif;
  color: #25202f;
}

.container {
  max-width: 1110px;
  margin: auto; /* выравнивание по середине */
}

.button {
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #8643dc;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  font-weight: 500;
}

.menu {
  list-style-type: none;
  text-decoration: none;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.navbar {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #25202f;
  margin-top: 70px;
  display: flex;
  align-items: center;
}

.nav-menu {
  margin-left: 100px;
  flex-grow: 1;
  max-width: 338px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-button {
  margin-left: 587px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.menu-icon {
  width: 30px;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.caption {
  color: #8643dc;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.headline {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  max-width: 250px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.welcome-block {
  display: flex;
  flex-direction: column;
}

.welcome-text {
  line-height: 0.7em;
  font-size: 24px;
}

.welcome-button {
  font-size: 24px;
  line-height: 32px;
}

.welcome-name {
  font-size: 60px;
  font-weight: 700;
}

.welcome-avatar {
  width: 535px;
}

.services {
  margin-bottom: 150px;
}

.services-group {
  display: flex;
  justify-content: space-between;
}

.services-block {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.services-logo {
  margin-right: 20px;
}

.services-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.services-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 32px;
}

.portfolio {
  margin-bottom: 168px;
}

.portfolio-project {
  display: flex;
  justify-content: space-between;
}

.portfolio-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-headline {
  margin-bottom: 0;
}

.portfolio-project-img {
  filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
  border-radius: 10px;
  margin-top: 30px;
  width: 540px;
}

.portfolio-button-explore {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 60px;
}

.clients {
  margin-bottom: 150px;
}

.clients-headline {
  margin-bottom: 0;
}

.clients-block {
  display: flex;
  justify-content: space-around;
}

.clients-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  border: 2px solid #000000;
}

.clients-logo {
  height: 50px;
  margin-bottom: 30px;
}

.clients-logo-caption {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.slack {
  background: #fff7fa;
  border-color: #ffe7f0;
  filter: drop-shadow(0px 10px 10px #ffe7f0);
}

.medium {
  background: #edfff5;
  border-color: #caffe1;
  filter: drop-shadow(0px 10px 10px #caffe1);
}

.microsoft {
  background: #f5fcff;
  border-color: #ddf5ff;
  filter: drop-shadow(0px 10px 10px #ddf5ff);
}

.zeplin {
  background: #fffbf2;
  border-color: #ffeec9;
  filter: drop-shadow(0px 10px 10px #ffeec9);
}

.shopify {
  background: #f4ffed;
  border-color: #dbffc4;
  filter: drop-shadow(0px 10px 10px #dbffc4);
}

.testimonials {
  margin-bottom: 150px;
}

.testimonials-headline {
  margin-bottom: 30px;
}

.testimonials-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-text {
  margin-top: 25px;
  max-width: 570px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #636066;
}

.testimonials-avatar {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.testimonials-name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.testimonials-specialization {
  font-size: 16px;
  line-height: 21px;
}

.blog {
  display: flex;
  margin-bottom: 150px;
}

.blog-wrapper {
  margin-right: 25px;
}

.blog-headline {
  width: 165px;
}

.blog-block {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.blog-block-promo {
  width: 350px;
}

.blog-block-item {
  justify-content: flex-end;
  width: 255px;
  height: 350px;
}

.blog-block-item-1 {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202f 100%),
    url("blog_news_1.jpg");
}
.blog-block-item-2 {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202f 100%),
    url("blog_news_2.jpg");
}

.blog-text-wrapper {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.blog-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.blog-data {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 10px;
}

.blog-text-promo {
  color: #000000;
  margin-top: 10px;
}

.blog-data-promo {
  color: #8643dc;
  margin-top: 20px;
}

.contact-me {
  margin-bottom: 100px;
}

.contact-me-headline {
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  color: #21232d;
  width: 512px;
}

.mail {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: lowercase;
  color: #8643dc;
}

.contact-me-button {
  font-size: 18px;
  line-height: 24px;
  margin-top: 30px;
}

.contact-me-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
}

.contact-me-form {
  height: 45px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  border: none;
  border-bottom: 1px solid #dad2e3;
  color: #a8a0b0;
}

.contact-me-form:not(:last-of-type) {
  margin-bottom: 45px;
}

.contact-me-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-me-icons {
  display: flex;
  align-items: center;
}

.contact-me-icon {
  width: 20px;
  margin-right: 20px;
}

/*  footer */

.footer {
  align-items: center;
  margin-bottom: 50px;
}

.footer-headline {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #21232d;
  margin-bottom: 30px;
}

.footer-social-link {
  text-decoration: none;
}

.footer-social-link:not(:last-child) {
  margin-right: 30px;
}
